/* 검색 결과 */
.search-font{
    padding: 5rem 6rem;
    margin-left: 100px;
}

.search-font-main{
    color:black;
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}

/* Room */
.room{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.d-inline-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-box{
    display: inline-block;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-room{
    width: 350px;
    height: 230px;
}

.room-detail-a{
    text-decoration: none;
}

.room-name{
    margin-top: 10px;
    margin-bottom: 0;
    color:black;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.room-term{
    margin-top: 5px;
    margin-bottom: 0;
    color:#949494;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.room-tax{
    margin-top: 14px;
    margin-bottom: 0;
    color:black;
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}