{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body background="{% static 'img/main.jpg' %}">
    <!-- Nav-bar -->
    <div class="nav inner">
     <!-- Logo -->
     <div class="logo">
         <a href="{% url 'home' %}" class="brand-name">A N L I</a>
         <a href="{% url 'home' %}">
             <img src="{% static 'img/logo.png' %}" class="logo-img" alt="">
         </a>
     </div>
 
     <!-- Navbar links -->
     <div class="navlink">
         <ul class="gnb">
             <form class="d-flex" action="." method="get">
                 <input class="search-input" type="search" placeholder="지역" name="location">
                 <input class="search-input" type="search" placeholder="유형" name="select_home">
                 <button class="search-btn" type="submit">Search</button>
             </form>
             <li><a href="{% url 'home' %}" class="nav-name">Home</a></li>
             <li><a href="{% url 'new' %}" class="nav-name">Hosting</a></li>
             <li><a href="{% url 'login' %}" class="nav-name">Login</a>
             <li><a href="{% url 'wishlist' %}"><img src="{% static 'img/wishlist.png' %}" class="nav-img"
                         alt=""></a></li>
             <li><a href="{% url 'message' %}"><img src="{% static 'img/message.png' %}" class="nav-img"
                         alt=""></a></li>
             <li><a href="{% url 'mypage' %}"><img src="{% static 'img/profile.png' %}" class="nav-img"
                         alt=""></a></li>
         </ul>
     </div>
 </div>
   <!-- login -->
   <div class="container">
        <div class="upper-login">
            <button type="button" class="Xbtn">X</button>
            <div class="login-font">로그인</div>
            <hr class="line">
        </div>
        {% if error %}
        {{ error }}
        {% endif %}
        <form method="POST" action="{% url 'login' %}">  
            {% csrf_token %}
            <div class="login-container">   
                <h2>안리에 오신 것을 환영합니다!</h2>
                <div>아이디 :  </div>
                <input type="text" placeholder="아이디" name="username" required>  
                <div>비밀번호 :</div>   
                <input type="password" placeholder="비밀번호" name="password" required>  
                <button type="submit" class="default-btn">로그인</button>    
            </div>   
        </form> 
        <div class="footer-login">
            <div class="font-h4">아직 회원가입을 하지 않으셨나요?</div>  
            <a href="{% url 'register' %}">회원가입</a>  
            <div class="font-h4">비밀번호를 잊으셨나요?</div>  
            <a href="#">비밀번호 찾기</a>
        </div> 
        <hr class="line">
        <div class="fontsize12px">로그인함으로써 안리의 <span>이용 약관</span> 및 <span>개인정보 처리방침</span>에 동의합니다</div>
   </div>
</body>
</html>