{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchResult</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/default-style.css' %}" />
</head>
<body>
    <div id="main">
        <div class="navB inner">
          <!-- Logo -->
            <div class="logo">
              <a href="{% url 'home' %}" class="brand-nameB">A N L I</a>
              <a href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" class="logo-img" alt="">
            </a>
            </div>
    
            <!-- Navbar links -->
            <div class="navlink">
                <ul class="gnb">
                    <form class="d-flex" action="." method="get">
                        <input class="search-inputB" type="search" placeholder="지역" name="location">
                        <input class="search-inputB" type="search" placeholder="유형" name="kind">
                        <button class="search-btnB" type="submit">Search</button>
                    </form>
                  <li><a href="{% url 'home' %}" class="nav-nameB">Home</a></li>
                  <li><a href="{% url 'new' %}" class="nav-nameB">Hosting</a></li>
                  <li><a href="{% url 'login' %}" class="nav-nameB">Login</a>
                  <li><a href="{% url 'wishlist' %}"><img src="{% static 'img/wishlist.png' %}" class="nav-imgB" alt=""></a></li>
                  <li><a href="{% url 'message' %}"><img src="{% static 'img/message.png' %}" class="nav-imgB" alt=""></a></li>
                  <li><a href="{% url 'mypage' %}"><img src="{% static 'img/profile.png' %}" class="nav-imgB" alt=""></a></li>
                </ul>
            </div>
    </div>
    <h3 style=" margin-left:150px;">검색결과 - 검색어 : <b>"{{ query_1 }}", "{{ query_2 }}"</b></h3><br>
    <div class="room" style="margin-top: 30px; margin-left:150px;">
        
        <div class="d-inline-flex" sytle="display: inline-block;
        margin-left: 50px;">
            {% for result in results %}
            <div class="room-box">
                <img src="{{ result.image.url }}" class="img-room" alt="사진">
                    <h4 class="room-name" style="margin-top: 10px;
                    margin-bottom: 0;
                    color:black;
                    font-size: 22px;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 400;">{{ result.title }}</h4>
                    <h4 class="room-term" style="margin-top: 5px;
                    margin-bottom: 0;
                    color:#949494;
                    font-size: 17px;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 300;">{{ result.startDay }} ~ {{ result.lastDay }}</h4>
                    <h4 class="room-tax" style="margin-top: 14px;
                    margin-bottom: 0;
                    color:black;
                    font-size: 23px;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 500;"> {{ result.price }}</h4>
                    <a href="{% url 'detail' result.id %}" style="text-decoration: none;
                    color: #377d71;">more</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div>이용약관 | <span class="bolder">개인정보처리방침</span></div>
            <p>
            <div class="fontsize13"><span class="bolder">전화문의</span> : 053-950-5114 &ensp;<span class="bolder">이메일
                    문의</span> : anli@likelion.org</div>
            <div class="fontsize13"><span class="bolder">소재지</span> : 우)41566 대구광역시 북구 대학로 80 (산격동,경북대학교)</div>
            </p>
            <div class="copyright">Copyright(c)2002 by 안리. All Page content is property of ANLI</div>
        </div>
    </footer>
</body>
